<template>
  <div class="box formulario">
    <div class="columns">
      <div
        class="column is-5"
        role="form"
        aria-label="Formulário para criação de uma nova tarefa"
      >
        <input
          type="text"
          class="input"
          placeholder="Qual tarefa vocẽ deseja iniciar?"
          v-model="descricao"
        />
      </div>
      <div class="column is-3">
        <div class="select">
          <select name="projetos" id="projetos" v-model="idProjeto">
            <option value="">Selecione o projeto</option>
            <option
              :value="projeto.id"
              v-for="projeto in projetos"
              :key="projeto.id"
            >
              {{ projeto.nome }}
            </option>
          </select>
        </div>
      </div>
      <div class="column">
        <TemporizadorDeTarefas @aoTemporizadorFinalizado="finalizarTarefa" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import TemporizadorDeTarefas from "./Temporizador.vue";
import { useStore } from "../store";
import { TipoNOtificacao } from "@/interfaces/INotificacao";
import { notificacaoMixin } from "../mixins/notificar";
import { OBTER_PROJETOS } from "@/store/tipo-acoes";
import useNotificador from "../hooks/notificador";

export default defineComponent({
  name: "FormularioTarefas",
  emits: ["aoSalvarTarefa"],
  components: {
    TemporizadorDeTarefas,
  },
  // data() {
  //   return {
  //     idProjeto: "",
  //     descricao: "",
  //   };
  // },
  mixins: [notificacaoMixin],
  methods: {},
  setup(props, context) {
    const store = useStore();
    const { notificar } = useNotificador();
    store.dispatch(OBTER_PROJETOS);

    const descricao = ref("");
    const idProjeto = ref("");

    const projetos = computed(() => store.state.projeto.projetos);

    const finalizarTarefa = (tempoDecorrido: number): void => {
      const projeto = projetos.value.find((p) => p.id == idProjeto.value);
      if (!projeto) {
        notificar(
          TipoNOtificacao.FALHA,
          "Ops!",
          "Selecione um projeto antes de finalizar a tarefa!"
        );
        return;
      }

      context.emit("aoSalvarTarefa", {
        duracaoEmSegundos: tempoDecorrido,
        descricao: descricao.value,
        projeto,
      });
      notificar(
        TipoNOtificacao.SUCESSO,
        "Nova taréfa foi salvo",
        "Prontinho ;) sua taréfa ja esta disponível."
      );
      descricao.value = "";
    };

    return {
      projetos,
      descricao,
      idProjeto,
      finalizarTarefa,
    };
  },
});
</script>

<style>
.formulario {
  color: var(--texto-primario);
  background-color: var(--bg-primario);
}
</style>
