<template>
  <BoxComponent>
    <div class="columns clicavel" @click="tarefaClicada">
      <div class="column is-4">
        {{ tarefa.descricao || "Tarefa sem descrição" }}
      </div>
      <div class="column is-3">
        {{ tarefa.projeto.nome }}
      </div>
      <div class="column">
        <SuperCronometro :tempoEmSegundos="tarefa.duracaoEmSegundos" />
      </div>
    </div>
  </BoxComponent>
</template>

<script lang="ts">
import ITarefa from "@/interfaces/ITarefa";
import { defineComponent, PropType } from "vue";
import SuperCronometro from "./Cronometro.vue";
import BoxComponent from "./Box.vue";

export default defineComponent({
  name: "TarefaComponent",
  emits: ["aoTarefaClicada"],
  components: {
    SuperCronometro,
    BoxComponent,
  },
  methods: {
    tarefaClicada(): void {
      this.$emit("aoTarefaClicada", this.tarefa);
    },
  },
  props: {
    tarefa: {
      type: Object as PropType<ITarefa>,
      required: true,
    },
  },
});
</script>

<style>
.clicavel {
  cursor: pointer;
}
</style>
