<template>
  <div class="is-flex is-align-items-center is-justify-content-space-between">
    <SuperCronometro :tempoEmSegundos="tempoEmSegundos" />
    <button @click="iniciar" class="button" :disabled="cronometroRodando">
      <span class="icon">
        <i class="fas fa-play"></i>
      </span>
      <span>play</span>
    </button>
    <button @click="finalizar" class="button" :disabled="!cronometroRodando">
      <span class="icon">
        <i class="fas fa-stop"></i>
      </span>
      <span>stop</span>
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import SuperCronometro from "./Cronometro.vue";

export default defineComponent({
  name: "TemporizadorDeTarefas",
  emits: ["aoTemporizadorFinalizado"],
  components: {
    SuperCronometro,
  },
  data() {
    return {
      tempoEmSegundos: 0,
      cronometro: 0,
      cronometroRodando: false,
    };
  },
  methods: {
    iniciar() {
      // começar contagem
      this.cronometroRodando = true;
      console.log("iniciando");
      this.cronometro = setInterval(() => {
        console.log("incrementando o contador");
        this.tempoEmSegundos += 1;
      }, 1000);
    },
    finalizar() {
      console.log("finalizando");
      this.cronometroRodando = false;
      clearInterval(this.cronometro);
      this.$emit("aoTemporizadorFinalizado", this.tempoEmSegundos);
      this.tempoEmSegundos = 0;
    },
  },
});
</script>
