<template>
  <section>
    <form @submit.prevent="salvar()">
      <div class="field">
        <label for="nomeDoProjeto" class="label"> Nome do Projeto </label>
        <input
          type="text"
          class="input"
          v-model="nomeDoProjeto"
          name="nomeDoProjeto"
          id="nomeDoProjeto"
        />
      </div>
      <div class="field">
        <button class="button" type="submit">Salvar</button>
      </div>
    </form>
  </section>
</template>

<script lang="ts">
import { TipoNOtificacao } from "@/interfaces/INotificacao";
import { useStore } from "@/store";
import { CADASTRAR_PROJETOS } from "@/store/tipo-acoes";
import { ALTERAR_PROJETOS } from "@/store/tipo-acoes";
import { defineComponent, ref } from "vue";
import useNotificador from "../../hooks/notificador";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "ViewFormularioProjeto",
  props: {
    id: {
      type: String,
    },
  },
  // mounted() {
  //   if (this.id) {
  //     const projeto = this.store.state.projeto.projetos.find(
  //       (proj) => proj.id == this.id
  //     );
  //     this.nomeDoProjeto = projeto?.nome || "";
  //   }
  // },
  // data() {
  //   return {
  //     nomeDoProjeto: "",
  //   };
  // },
  methods: {},
  setup(props) {
    const store = useStore();
    const { notificar } = useNotificador();
    const router = useRouter();

    const nomeDoProjeto = ref("");

    if (props.id) {
      const projeto = store.state.projeto.projetos.find(
        (proj) => proj.id == props.id
      );
      nomeDoProjeto.value = projeto?.nome || "";
    }

    const salvar = () => {
      if (props.id) {
        const projeto = {
          id: props.id,
          nome: nomeDoProjeto.value,
        };
        store
          .dispatch(ALTERAR_PROJETOS, projeto)
          .then(() => {
            notificar(
              TipoNOtificacao.SUCESSO,
              "Projeto editado com sucesso",
              "Prontinho ;) seu projeto ja esta disponível."
            );
          })
          .catch((e: any) => {
            notificar(TipoNOtificacao.FALHA, "Falha ao salvar projeto", e);
          });
        router.push("/projetos");
      } else {
        store
          .dispatch(CADASTRAR_PROJETOS, nomeDoProjeto.value)
          .then(() => {
            nomeDoProjeto.value = "";
            notificar(
              TipoNOtificacao.SUCESSO,
              "Novo projeto foi salvo",
              "Prontinho ;) seu projeto ja esta disponível."
            );
            router.push("/projetos");
          })
          .catch((e: any) => {
            notificar(TipoNOtificacao.FALHA, "Falha ao salvar projeto", e);
          });
      }
    };

    return {
      nomeDoProjeto,
      salvar,
    };
  },
});
</script>
