<template>
  <section>
    <router-link to="/projetos/novo" class="button">
      <span class="icon is-small">
        <i class="fas fa-plus"></i>
      </span>
      <span>Novo projeto</span>
    </router-link>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="projeto in projetos" :key="projeto.id">
          <td>{{ projeto.id }}</td>
          <td>{{ projeto.nome }}</td>
          <td>
            <router-link :to="`/projetos/${projeto.id}`" class="button">
              <span class="icon is-small">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </router-link>
            <button class="button ml-2 is-danger" @click="excluir(projeto.id)">
              <span class="icon is-small">
                <i class="fas fa-trash"></i>
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script lang="ts">
import { TipoNOtificacao } from "@/interfaces/INotificacao";
import { useStore } from "@/store";
import { OBTER_PROJETOS, REMOVER_PROJETOS } from "@/store/tipo-acoes";
import useNotificador from "../../hooks/notificador";
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "ViewListaDeProjetos",
  methods: {
    excluir(id: string) {
      this.store
        .dispatch(REMOVER_PROJETOS, id)
        .then(() => {
          this.notificar(
            TipoNOtificacao.SUCESSO,
            "Projeto excluido",
            "Prontinho ;) seu projeto foi excluido."
          );
        })
        .catch((e: any) => {
          this.notificar(TipoNOtificacao.FALHA, "Falha ao excluir projeto", e);
        });
    },
  },
  setup() {
    const store = useStore();
    const { notificar } = useNotificador();
    store.dispatch(OBTER_PROJETOS);
    return {
      projetos: computed(() => store.state.projeto.projetos),
      store,
      notificar,
    };
  },
});
</script>
